<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Editar de Item
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<form method="post" class="form-vertical  js-form-loading" th:object="${itemVenda}" th:action="@{/itens/novo}">

			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<th:block th:each="error : ${#fields.detailedErrors()}">
					<div>
						<i class="fa  fa-exclamation-circle"></i>
						<span th:text="${error.message}"></span>
					</div>
				</th:block>
			</div>
			
			<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}"></span>
			</div>

			<input type="hidden" th:field="*{codigo}" />
			<input type="hidden" th:field="*{precoUnitario}" />
			
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="venda">Venda</label>
						<input id="venda" type="text" class="form-control" th:field="*{venda.codigo}" readonly="readonly" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="codigo">Produto</label>
						<input id="codigo" type="text" class="form-control" th:field="*{produto.codigo}" readonly="readonly" />
					</div>
				</div>

				<div class="col-sm-6">
					<div class="form-group">
						<label for="descricao">Descrição</label>
						<input id="descricao" type="text" class="form-control" th:field="*{produto.descricao}" readonly="readonly" />
					</div>		
				</div>
			</div>
	
	
			<div class="row">
				<div class="col-sm-3">
					<div class="form-group">
						<label for="valor">Preço Unitário</label>
						<input id="valor" type="text" class="form-control  js-moeda" placeholder="R$" th:field="*{produto.valor}" readonly="readonly" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="desconto">Desconto</label>
						<input id="desconto" type="text" class="form-control  js-moeda" placeholder="%" th:field="*{desconto}" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="quantidade">Quantidade</label>
						<input id="quantidade" type="text" class="form-control" placeholder="Quantidade" th:field="*{quantidade}" />
					</div>
				</div>

				<div class="col-sm-3">
					<div class="form-group">
						<label for="subTotal">Subtotal</label>
						<input id="subTotal" type="text" class="form-control  js-moeda" placeholder="R$" th:field="*{subTotal}" readonly="readonly" />
					</div>
				</div>
			</div>

			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a th:href="@{/vendas/novo}" class="btn  btn-default">Cancelar</a>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>