<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/pesquisa-itens.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/easy-autocomplete.min.css}"/>
		<script th:inline="javascript">
		        var options = {
		        	    url: /*[[@{/clientes/clientes}]]*/ 'http://localhost:8080/clientes/clientes',
		        	    getValue: function(element) {
		        	        return element.nome;
		        	    },

		        	    list: {
		        	        onSelectItemEvent: function() {
		        	            var selectedItemValue = $("#pesquisa_cliente").getSelectedItemData().cpf;
		        	            $("#cpf_modal").val(selectedItemValue).trigger("change");
		        	        }		        	    
		        	    }
		        };
			</script>
		</head>
	<body>
		<section layout:fragment="conteudo">
			
			<div class="page-header">
				
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10">
							<h1>
								Forma de Pagamento
							</h1>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="container-fluid">
			
				<form method="post" class="form-vertical  js-form-loading" th:object="${pagamento}" th:action="@{/pagamentos/pagamento}">

					<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						<th:block th:each="error : ${#fields.detailedErrors()}">
							<div>
								<i class="fa  fa-exclamation-circle"></i>
								<span th:text="${error.message}"></span>
							</div>
						</th:block>
					</div>

					<div class="alert  alert-danger" th:if="${!#strings.isEmpty(error)}">
						<span th:text="${error}"></span>
					</div>

					<div class="alert  alert-info" th:if="${!#strings.isEmpty(info)}">
						<span th:text="${info}"></span>
					</div>
					
					<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
						<span th:text="${mensagem}"></span>
					</div>

					<input type="hidden" th:field="*{codigo}" />

					<input type="hidden" th:field="*{venda}" />
					
					<div class="row">
						<div class="col-sm-2">
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group" th:classappend="${#fields.hasErrors('cpf')} ? has-error">
								<label for="cpf">Cpf</label>
								<input id="cpf" type="text" th:field="*{cpf}" class="form-control" />
							</div>
						</div>
						<div class="col-xs-2" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_OPERADOR')">
							<div class="aw-page-header-controls">
								<a class="btn  btn-primary" style="cursor:pointer"
									data-toggle="modal" data-target="#cadastrarClienteModal"
									data:codigo="${pagamento?.codigo}" 
									data:url-cadastrar="@{/pagamentos/cliente}">
									<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Cliente</span>
								</a>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="subtotal">Sub Total</label>
								<input id="subtotal" type="text" th:field="*{subTotal}" class="form-control js-moeda js-pagar-sub-total" readonly="readonly" />
							</div>
						</div>

						<div class="col-sm-2">
							<div class="form-group" th:classappend="${#fields.hasErrors('desconto')} ? has-error">
								<label for="desconto">Desconto (%)</label>
								<input id="desconto" type="text" th:field="*{desconto}" class="form-control js-moeda js-pagar-desconto" placeholder="%" />
							</div>
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="valorDesconto">Valor do Desconto</label>
								<input id="valorDdesconto" type="text" th:field="*{valorDesconto}" class="form-control js-moeda js-pagar-valor-desconto" placeholder="R$" readonly="readonly" />
							</div>
						</div>

						<div class="col-sm-2">
							<div class="form-group">
								<label for="outro">Total A pagar</label>
								<input id="outro" type="text" th:field="*{totalApagar}" class="form-control js-moeda js-pagar-total-a-pagar" placeholder="R$" readonly="readonly" />
							</div>
						</div>
					</div>
	
					<hr>
	
					<div class="row">
						<div class="col-sm-2">
							<div class="form-group" th:classappend="${#fields.hasErrors('dinheiro')} ? has-error">
								<label for="dinheiro">Dinheiro</label>
								<input id="dinheiro" type="text" th:field="*{dinheiro}" class="form-control js-moeda js-somar-valor" placeholder="R$" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group" th:classappend="${#fields.hasErrors('cartao')} ? has-error">
								<label for="cartao">Cartão</label>
								<input id="cartao" type="text" th:field="*{cartao}" class="form-control js-moeda js-somar-valor" placeholder="R$" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group" th:classappend="${#fields.hasErrors('cheque')} ? has-error">
								<label for="cheque">Cheque</label>
								<input id="cheque" type="text" th:field="*{cheque}" class="form-control js-moeda js-somar-valor" placeholder="R$" />
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group" th:classappend="${#fields.hasErrors('outros')} ? has-error">
								<label for="outro">Outros</label>
								<input id="outro" type="text" th:field="*{outros}" class="form-control js-moeda js-somar-valor" placeholder="R$" />
							</div>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<label for="totalPago">A Pagar</label>
								<input id="totalPago" type="text" name="totalPago" class="form-control js-moeda js-total-da-soma" placeholder="R$" readonly="readonly" />
							</div>
						</div>

						<div class="col-sm-2">
							<div class="form-group">
								<label for="saldo">Saldo</label>
								<input id="saldo" type="text" name="saldo" class="form-control js-moeda js-saldo" placeholder="R$" readonly="readonly" />
							</div>
						</div>
					</div>

					<hr>

					<div class="row">
						<div class="col-sm-2">
							<div class="form-group">
								<a th:href="@{/vendas/novo}" class="btn  btn-default">Retornar</a>
								<button class="btn  btn-primary" type="submit">Pagar</button>
							</div>
						</div>
					</div>

				</form>
				
			</div>

			<div class="modal  fade" id="cadastrarClienteModal" tabindex="-1" role="dialog">
			  <div class="modal-dialog" role="document">
			    <div class="modal-content">
		  			<form th:action="@{/pagamentos}" method="POST">

    					<input id="pagamento" name="codigoPagamento" type="hidden" value="" />
			    
				      	<div class="modal-header">
				        	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				        		<span aria-hidden="true">&times;</span>
				        	</button>
				        	<h4 class="modal-title" id="saveClienteModal">Cadastrar Cliente</h4>
				      	</div>
				      	
				      	<div class="modal-body">
				        	<span>Cadastrar cliente?</span>
				        	<hr>
							<div class="form-group">
								<label for="nome">Cliente</label>
								<input id="pesquisa_cliente" name="nome" type="text" class="form-control" value="" required="required" />
							</div>
							<div class="form-group">
								<label for="cpf">Cpf</label>
					        	<input id="cpf_modal" name="cpf" type="text" class="form-control" value="" required="required" />
				        	</div>
				      	</div>
				      	
				      	<div class="modal-footer">
				        	<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
	       					<button type="submit" class="btn  btn-primary">Salvar</button>
				      	</div>
		     		</form>
			    </div>
			  </div>
			</div>

		</section>

</html>