<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/pesquisa-itens.css}"/>
	</head>
	<body>
		<section layout:fragment="conteudo">
			<div class="page-header">
				<div class="container-fluid">
					<div class="row">
						<div class="col-xs-10">
							<h1>
								Pesquisa de Clientes
							</h1>
						</div>
						
						<div class="col-xs-2" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_OPERADOR')">
							<div class="aw-page-header-controls">
								<a class="btn btn-primary" th:href="@{/clientes/novo}">
									<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo cliente</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>			
			
			<div class="container-fluid">

				<div class="alert  alert-danger" th:if="${!#strings.isEmpty(error)}">
					<span th:text="${error}"></span>
				</div>
	
				<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
					<span th:text="${mensagem}"></span>
				</div>
			
				<form method="get" class="form-vertical  js-form-loading" th:object="${clienteFilter}">
					<div class="form-group">
						<div class="input-group">
							<input id="nome" type="text" th:field="*{nome}" class="form-control" placeholder="Pesquisa pelo nome"/>
							<span class="input-group-btn">
								<button class="btn btn-default" type="submit">
									<span class="glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>
				</form>
	
				<div class="table-responsive">
					<table id="tabela-produtos" class="table  table-striped  table-bordered  table-hover  table-condensed  js-sticky-table">
						<thead class="aw-table-header-solid">
							<tr>
								<th class="text-center">Código</th>
								<th class="text-left">Nome</th>
								<th class="text-center">Cpf</th>
								<th class="text-center" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_OPERADOR')"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="cliente : ${clientes}">
								<td th:text="${cliente.codigo}" class="text-center">1</td>
								<td class="text-left">
									<a th:href="@{/clientes/{codigo}(codigo=${cliente.codigo})}" th:text="${cliente.nome}" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_OPERADOR')"></a>
									<span th:text="${cliente.nome}" sec:authorize="not hasAnyRole('ROLE_ADMINISTRADOR','ROLE_OPERADOR')"></span>
								</td>
								<td th:text="${cliente.cpfFormatado}" class="text-center">849O17O59xx</td>
								<td class="text-center" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR', 'ROLE_OPERADOR')">
									<i class="fa  fa-trash" style="cursor:pointer"
										data-toggle="modal" data-target="#confirmaExclusaoModal"
										data:nome="${cliente.nome}" 
										data:url-apagar="@{/clientes/{codigo}(codigo=${cliente.codigo})}" th:if="${!cliente.isDefault}"></i>
								</td>
							</tr>
							<tr th:if="${clientes.empty}">
								<td colspan="3">Nenhum cliente cadastrado</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
	
			<div class="modal  fade" id="confirmaExclusaoModal" tabindex="-1" role="dialog">
				<div class="modal-dialog" role="document">
			  		<div class="modal-content">
			  			<form th:action="@{/clientes}" method="POST">
			  				
			  				<input type="hidden" name="_method" value="DELETE"/>
			     			
			     			<div class="modal-header">
				       			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				       				<span aria-hidden="true">&times;</span>
				       			</button>
				       			<h4 class="modal-title" id="myModalLabel">Excluir cliente</h4>
			     			</div>
			     			
			     			<div class="modal-body">
			       				<span>Tem certeza?</span>
			     			</div>
			     			
			     			<div class="modal-footer">
			       				<button type="button" class="btn  btn-default" data-dismiss="modal">Cancelar</button>
			       				<button type="submit" class="btn  btn-primary">Excluir</button>
			     			</div>
			     		</form>
			  		</div>
				</div>
			</div>	
	
	</section>
	
</body>
</html>