<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:data="http://www.thymeleaf.org/extras/data-attribute"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
	<head>
		<link rel="stylesheet" type="text/css" th:href="@{/layout/stylesheets/pesquisa-itens.css}"/>
	</head>
	<body>
		<section layout:fragment="conteudo">
		<div class="page-header">
			<div class="container-fluid">
				<div class="row">
					<div class="col-xs-10">
						<h1>
							Pesquisar Estoques
						</h1>
					</div>
					
					<div class="col-xs-2" sec:authorize="hasAnyRole('ROLE_ADMINISTRADOR','ROLE_OPERADOR')">
						<div class="aw-page-header-controls">
							<a class="btn btn-primary" th:href="@{/estoques/novo}">
								<i class="fa  fa-plus-circle"></i> <span class="hidden-xs  hidden-sm">Novo item em estoque</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>			
		
		<div class="container-fluid">

			<form method="post" class="form-vertical  js-form-loading" th:object="${estoqueFilter}" th:action="@{/estoques/estoques}">
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<label for="produto" class="control-label">Produto</label>
							<input id="produto" type="text" th:field="*{produto}" class="form-control" />
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
							<label for="loja" class="control-label">Loja</label>
							<input id="loja" type="text" th:field="*{loja}" class="form-control" />
						</div>
					</div>
					<div class="col-sm-2">
						<div class="form-group">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-2">
						<div class="form-group">
							<button class="btn  btn-primary  btn-venda" type="submit">Pesquisar</button>
						</div>
					</div>
				</div>
			</form>

			<div class="alert  alert-danger" th:if="${!#strings.isEmpty(error)}">
				<span th:text="${error}"></span>
			</div>

			<div class="table-responsive">
				<table id="tabela-vendedores" class="table  table-striped  table-bordered  table-hover">
					<thead>
						<tr>
							<th class="text-left">Produto</th>
							<th class="text-left">Loja</th>
							<th class="text-right">Valor Unitário</th>
							<th class="text-right">Quantidade</th>
							<th class="text-right">Estoque Mínimo</th>
							<th class="text-right">Estoque Máximo</th>
							<th class="text-right">Valor Total</th>
							<th class="text-left" sec:authorize="hasRole('ROLE_ADMINISTRADOR')"></th>
						</tr>
					</thead>
					<tbody id="table_pesquisa_estoques">
						<tr th:each="estoque : ${estoques}">
							<td class="text-left">
								<a th:href="@{/estoques/{codigo}(codigo=${estoque.codigo})}" th:text="${estoque?.produto?.descricao}" ></a>
							</td>
							<td class="text-left">
								<span th:text="${estoque?.loja?.nome}"></span>
							</td>
							<td class="text-right">
								<span th:text="|R$${{estoque.valorUnitario}}|"></span>
							</td>
							<td class="text-right">
								<span th:text="${estoque.quantidade}"></span>
							</td>
							<td class="text-right">
								<span th:text="${estoque.estoqueMinimo}"></span>
							</td>
							<td class="text-right">
								<span th:text="${estoque.estoqueMaximo}"></span>
							</td>
							<td class="text-right">
								<span th:text="|R$${{estoque.valorTotal}}|"></span>
							</td>
							<td class="text-center" sec:authorize="hasRole('ROLE_ADMINISTRADOR')">
								<i class="fa  fa-trash" style="cursor:pointer"
									data-toggle="modal" data-target="#confirmaExclusaoModal"
									data:nome="${estoque?.produto?.descricao}" 
									data:url-apagar="@{/estoques/{codigo}(codigo=${estoque.codigo})}"></i>
							</td>
						</tr>
						<tr th:if="${estoques.empty}">
							<td colspan="9">Nenhum estoque cadastrado</td>
						</tr>
					</tbody>
				</table>
			</div>
	        <div class="col-md-12 text-center">
      			<ul class="pagination pagination-lg pager" id="pagination_estoque"></ul>
      		</div>
		</div>
	
		<div class="modal  fade" id="confirmaExclusaoModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
		  		<div class="modal-content">
		  			<form th:action="@{/estoques}" method="POST">
		  				
		  				<input type="hidden" name="_method" value="DELETE"/>
		     			
		     			<div class="modal-header">
			       			<button type="button" class="close" data-dismiss="modal" aria-label="Close">
			       				<span aria-hidden="true">&times;</span>
			       			</button>
			       			<h4 class="modal-title" id="myModalLabel">Excluir estoque</h4>
		     			</div>
		     			
		     			<div class="modal-body">
		       				<span>Tem certeza?</span>
		     			</div>
		     			
		     			<div class="modal-footer">
		       				<button type="button" class="btn  btn-default" data-dismiss="modal">Cancelar</button>
		       				<button type="submit" class="btn  btn-primary">Excluir</button>
		     			</div>
		     		</form>
		  		</div>
			</div>
		</div>	
		
	</section>
	
</body>
</html>