<!DOCTYPE html>
<html lang="pt" 
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout-padrao}"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
	
<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Cadastro de Produto
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
	
		<form method="post" class="form-vertical  js-form-loading" th:object="${produto}" th:action="@{/produtos/novo}">

			<div class="alert  alert-danger  alert-dismissible" role="alert" th:if="${#fields.hasAnyErrors()}">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<th:block th:each="error : ${#fields.detailedErrors()}">
					<div>
						<i class="fa  fa-exclamation-circle"></i>
						<span th:text="${error.message}"></span>
					</div>
				</th:block>
			</div>
			
			<div class="alert  alert-success" th:if="${!#strings.isEmpty(mensagem)}">
				<span th:text="${mensagem}"></span>
			</div>
			
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group" th:classappend="${#fields.hasErrors('codigo')} ? has-error">
						<label for="codigo">Código</label>
						<input id="codigo" type="text" class="form-control" th:field="*{codigo}" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="form-group" th:classappend="${#fields.hasErrors('codigoBarra')} ? has-error">
						<label for="codigoBarra">Código de barra</label>
						<input id="codigoBarra" type="text" class="form-control" th:field="*{codigoBarra}" />
					</div>
				</div>
			</div>
	
			<div class="row">
				<div class="col-sm-8">
					<div class="form-group" th:classappend="${#fields.hasErrors('descricao')} ? has-error">
						<label for="descricao">Descrição</label>
						<input id="descricao" type="text" class="form-control"  th:field="*{descricao}" />
					</div>		
				</div>
			</div>
	
			<div class="row">
				<div class="col-sm-4">
					<div class="form-group">
						<label for="valor">Preço de Venda</label>
						<input id="valor" type="text" class="form-control js-moeda" placeholder="R$" th:field="*{valor}" />
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
				<a th:href="@{/produtos}" class="btn  btn-default">Cancelar</a>
			</div>
	
		</form>
	</div>

</section>
</body>
</html>